{
  "0": [
    {
      "id": 1243,
      "title": "Salario 1",
      "value": 16000
    },
    {
      "id": 1245,
      "title": "Salario 2",
      "value": 16000
    }
  ],
  "1": [],
  "2": [],
  "3": [],
  "4": [],
  "5": [],
  "6": [],
  "7": [],
  "8": [],
  "9": [],
  "10": [],
  "11": []
}
